.docs {
	max-width: 1420px;
	margin: 100px auto 64px;
	text-align: center;
}

.main_auth {
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	z-index: 100;
	visibility: hidden;
	transition: .3s;
}

.main_auth.visible {
	visibility: visible;
}

.main_auth::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 100;
}

.main_authForm {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 800px;
	z-index: 150;
	margin: 0 auto;
}

.auth_label {
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.auth_text {
	margin: 0;
}

.auth_button {
	margin: 0 !important;
}

.heading {
	margin: 0;
	margin-bottom: 70px;
	font-size: 56px;
	letter-spacing: -2.4px;
	line-height: 1;
}

.subheading {
	margin-top: 100px;
}

.block {
	position: relative;
	display: flex;
	justify-content: center;
}

.select,
.staffButton {
	margin-left: 20px;
}

.select {
	background: #6c96f9;
	border: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	font-size: 16px;
	color: #fff;
}

.label,
.date {
	font-size: 29px;
	font-weight: bold;
	line-height: 2.57;
}

.date {
	display: flex;
}

.dateNotes {
	margin: 4px 25px 0 0;
}

.divider {
	margin: 0 10px;
}

.staffButton {
	border-radius: 5px;
	background-color: transparent !important;
	border: solid 1px #d1d1d1;
	margin-left: 0 !important;
	margin-top: 15px;
	transition: .3s;
}

.staffButton:hover {
	background-color: #fff !important;
	color: #000 !important;
}

.staff {
	width: 20%;
	margin-bottom: 50px;
	cursor: pointer;
}

.staff + .staff {
	margin-right: 20px;

}

.content {
	max-width: 660px;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}

.avatar {
	width: 100%;
	max-width: 500px;
	height: auto;
	border-radius: 50%;
}

.main {
	display: flex;
	height: calc(100% - 85px);
}

.main_link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./cosmetology.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
}

.main_link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #60c3ff;
	opacity: .3;
	transition: .3s;
}

.main_link:hover.main_link::before {
	opacity: .7;
}

.main_heading {
	z-index: 10;
	font-size: 40px;
	color: #fff;
}


@media (max-width: 1024px) {
	.docs {
		max-width: 90%;
	}

	.content {
		max-width: none;
	}

	.heading {
		margin-bottom: 20px;
	}
}

.services {
	display: flex;
	align-items: center;
	justify-content: center;
}

.service {
	width: 100%;
	max-width: 600px;
	padding-bottom: 64px;
	border-bottom: 1px solid #e8e8e8;
	margin-top: 64px;
}

.service:last-of-type {
	border: 0;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 1.33;
	border-bottom: 1px solid #000;
	align-items: center;
}

.row:last-of-type {
	margin: 0;
}

.name {
	margin-right: 20px;
	text-align: left;
	width: 70%;
}

.staffName {
	margin: 25px 0 15px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.period {
	color: #6c96f9;
	border: 1px solid #6c96f9;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	letter-spacing: -0.4px;
	padding: 5px;
	max-width: 250px;
	margin: 0 auto 40px;
}

.value {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	text-align: right;
	width: 35%;
	text-align: center;
}

.note {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -0.3px;
	line-height: 1.71;
}


@media (max-width: 800px) {
	.main_heading {
		text-align: center;
		font-size: 26px;
	}

	.row .name {
		width: 60%;
	}
}
