.link {
	border-bottom: 1px solid #d5d5d5;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.7px;
	line-height: 1.33;
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	color: gray;
	border: none;
}
